[package]
name = "test-app"
version = "0.1.1"
edition = "2021"
publish = false

[dependencies]
starbase = { path = "../framework" }
starbase_utils = { path = "../utils" }
miette = { workspace = true, features = ["fancy"] }
tokio = { workspace = true, features = ["full", "tracing"] }
tracing = { workspace = true }
