[package]
name = "test-app"
version = "0.1.0"
edition = "2021"

[dependencies]
starship = { path = "../framework" }
miette = { version = "5.7.0", features = ["fancy"] }
tokio = { version = "1.27.0", features = ["full", "tracing"] }
