[package]
name = "starbase_shell"
version = "0.2.2"
edition = "2021"
license = "MIT"
description = "Utilities for detecting shells and managing profile files."
repository = "https://github.com/moonrepo/starbase"

[package.metadata.docs.rs]
all-features = true

[dependencies]
miette = { workspace = true, optional = true }
regex = { workspace = true }
thiserror = { workspace = true }

[target."cfg(windows)".dependencies]
sysinfo = { version = "0.30.12", default-features = false }

[features]
default = []
miette = ["dep:miette"]
