[package]
name = "starbase_styles"
version = "0.1.15"
edition = "2021"
license = "MIT"
description = "Utilities for styling the terminal."
repository = "https://github.com/moonrepo/starbase"

[package.metadata.docs.rs]
all-features = true

[dependencies]
dirs = "5.0.1"
miette = { workspace = true, optional = true }
owo-colors = "3.5.0"
relative-path = { workspace = true, optional = true }
supports-color = "2.0.0"

[features]
default = []
theme = ["dep:miette"]
relative-path = ["dep:relative-path"]
