[package]
name = "starbase_utils"
version = "0.4.1"
edition = "2021"
license = "MIT"
description = "General fs, io, serde, etc, utilities."
repository = "https://github.com/moonrepo/starbase"

[package.metadata.docs.rs]
all-features = true

[dependencies]
starbase_styles = { version = "0.2.0", path = "../styles" }
dirs = "5.0.1"
miette = { workspace = true, optional = true }
once_cell = { workspace = true }
relative-path = { workspace = true }
regex = { workspace = true, optional = true }
serde = { workspace = true, optional = true }
thiserror = { workspace = true }
tokio = { workspace = true, optional = true }
tracing = { workspace = true }

# editor-config
ec4rs = { version = "1.0.2", optional = true }

# fs
fs4 = { version = "0.7.0", optional = true }

# glob
wax = { version = "0.6.0", optional = true, features = ["walk"] }

# json
json-strip-comments = { version = "1.0.2", optional = true }
serde_json = { workspace = true, optional = true }

# toml
toml = { version = "0.8.8", optional = true }

# yaml
serde_yaml = { workspace = true, optional = true }

[features]
default = []
editor-config = ["dep:ec4rs"]
fs-lock = ["dep:fs4", "dep:tokio"]
glob = ["dep:wax"]
glob-miette = ["glob", "miette", "wax/miette"]
miette = ["dep:miette"]
json = ["dep:json-strip-comments", "dep:serde", "dep:serde_json"]
toml = ["dep:toml", "dep:serde"]
yaml = ["dep:regex", "dep:serde", "dep:serde_yaml"]

[dev-dependencies]
starbase_sandbox = { path = "../sandbox" }
starbase_utils = { path = ".", features = [
	"editor-config",
	"fs-lock",
	"glob",
	"glob-miette",
	"miette",
	"json",
	"toml",
	"yaml",
] }
