[package]
name = "starbase_utils"
version = "0.1.0"
edition = "2021"
license = "MIT"
description = "General fs, io, serde, etc, utilities."
repository = "https://github.com/moonrepo/starbase"

[dependencies]
dirs = "5.0.0"
miette = { workspace = true }
once_cell = { workspace = true }
relative-path = { workspace = true }
regex = { workspace = true, optional = true }
serde = { workspace = true, optional = true }
thiserror = { workspace = true }

# editor-config
ec4rs = { version = "1.0.2", optional = true }

# glob
wax = { version = "0.5.0", optional = true }

# json
json_comments = { version = "0.2.1", optional = true }
serde_json = { workspace = true, optional = true }

# toml
toml = { version = "0.7.3", optional = true }

# yaml
serde_yaml = { workspace = true, optional = true }

[features]
default = ["editor-config", "glob", "json", "yaml", "toml"]
glob = ["dep:wax"]
json = ["dep:json_comments", "dep:regex", "dep:serde", "dep:serde_json"]
editor-config = ["dep:ec4rs"]
toml = ["dep:toml", "dep:serde"]
yaml = ["dep:regex", "dep:serde", "dep:serde_yaml"]

[dev-dependencies]
assert_fs = "1.0.12"
insta = { workspace = true }
