[package]
name = "starbase_utils"
version = "0.2.19"
edition = "2021"
license = "MIT"
description = "General fs, io, serde, etc, utilities."
repository = "https://github.com/moonrepo/starbase"

[package.metadata.docs.rs]
all-features = true

[dependencies]
starbase_styles = { version = "0.1.12", path = "../styles" }
dirs = "5.0.1"
miette = { workspace = true }
once_cell = { workspace = true }
relative-path = { workspace = true }
regex = { workspace = true, optional = true }
serde = { workspace = true, optional = true }
tracing = { workspace = true }
thiserror = { workspace = true }

# editor-config
ec4rs = { version = "1.0.2", optional = true }

# fs
fs4 = { version = "0.6.6", optional = true }

# glob
wax = { version = "0.5.0", optional = true } # features = ["diagnostics-report"] }

# json
json_comments = { version = "0.2.1", optional = true }
serde_json = { workspace = true, optional = true }

# toml
toml = { version = "0.7.6", optional = true }

# yaml
serde_yaml = { workspace = true, optional = true }

[features]
default = []
editor-config = ["dep:ec4rs"]
fs-lock = ["dep:fs4"]
glob = ["dep:wax"]
json = ["dep:json_comments", "dep:regex", "dep:serde", "dep:serde_json"]
toml = ["dep:toml", "dep:serde"]
yaml = ["dep:regex", "dep:serde", "dep:serde_yaml"]

[dev-dependencies]
starbase_utils = { path = ".", features = [
	"editor-config",
	"fs-lock",
	"glob",
	"json",
	"toml",
	"yaml",
] }
starbase_sandbox = { path = "../sandbox" }
