[package]
name = "starbase_archive"
version = "0.6.2"
edition = "2021"
license = "MIT"
description = "Utilities for packing and unpacking archives. Supports tar and zip."
repository = "https://github.com/moonrepo/starbase"

[package.metadata.docs.rs]
all-features = true

[dependencies]
starbase_styles = { version = "0.3.2", path = "../styles" }
starbase_utils = { version = "0.6.4", path = "../utils", default-features = false, features = [
	"glob",
] }
miette = { workspace = true, optional = true }
rustc-hash = { workspace = true }
tracing = { workspace = true }
thiserror = { workspace = true }

flate2 = { version = "1.0.28", optional = true }

# tar
# https://github.com/moonrepo/starbase/issues/56
binstall-tar = { version = "0.4.39", optional = true }
xz2 = { version = "0.1.7", optional = true }
zstd = { version = "0.13.1", optional = true }

# zip
zip = { version = "0.6.6", default-features = false, optional = true }

[dev-dependencies]
starbase_archive = { path = ".", features = [
	"gz",
	"miette",
	"tar-gz",
	"tar-xz",
	"tar-zstd",
	"zip",
	"zip-deflate",
] }
starbase_sandbox = { path = "../sandbox" }

[features]
default = ["tar-gz"]
gz = ["dep:flate2"]
miette = ["dep:miette"]
tar = ["dep:binstall-tar"]
tar-gz = ["dep:flate2", "tar"]
tar-xz = ["dep:xz2", "tar"]
tar-zstd = ["dep:zstd", "tar"]
zip = ["dep:zip"]
zip-deflate = ["dep:flate2", "zip", "zip/deflate"]
