[package]
name = "starbase"
version = "0.1.1"
edition = "2021"
license = "MIT"
description = "Framework for building performant command line applications and developer tools."
repository = "https://github.com/moonrepo/starbase"
readme = "../../README.md"

[dependencies]
starbase_events = { version = "0.1.0", path = "../events" }
starbase_macros = { version = "0.1.1", path = "../macros" }
async-trait = { workspace = true }
miette = { workspace = true }
num_cpus = "1.15.0"
relative-path = "1.8.0"
rustc-hash = "1.1.0"
thiserror = { workspace = true }
tokio = { workspace = true, features = ["tracing"] }
tracing = { workspace = true, optional = true }
tracing-subscriber = { version = "0.3.16", optional = true }

[features]
default = ["panic", "tracing"]
panic = ["miette/fancy"]
tracing = ["dep:tracing", "dep:tracing-subscriber", "starbase_macros/tracing"]
