[package]
name = "starbase"
version = "0.1.0"
edition = "2021"
license = "MIT"
description = "Framework for building performant command line applications and developer tools."
repository = "https://github.com/moonrepo/starbase"
readme = "../../README.md"

[dependencies]
starbase_macros = { version = "0.1.0", path = "../framework-macros" }
async-trait = "0.1.68"
miette = "5.7.0"
num_cpus = "1.15.0"
relative-path = "1.8.0"
rustc-hash = "1.1.0"
thiserror = "1.0.40"
tokio = { version = "1.27.0", features = ["full", "tracing"] }
tracing = { version = "0.1.37", optional = true }
tracing-subscriber = { version = "0.3.16", optional = true }

[features]
default = ["panic", "tracing"]
panic = ["miette/fancy"]
tracing = ["dep:tracing", "dep:tracing-subscriber", "starbase_macros/tracing"]
