name: CI
on:
  push:
    branches:
      - master
  pull_request:
env:
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
jobs:
  checks:
    name: Checks
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: moonrepo/setup-rust@v1
        with:
          bins: cargo-msrv
      - name: Check MSRV
        run: for dir in crates/*; do (cd "$dir" && cargo msrv verify); done
      - name: Check semver
        uses: obi1kenobi/cargo-semver-checks-action@v2
        with:
          # Fails on miette fancy
          exclude: starbase_styles
  format:
    name: Format
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: moonrepo/setup-rust@v1
        with:
          components: rustfmt
      - name: Check formatting
        run: cargo fmt --all --check
  lint:
    name: Lint
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
      fail-fast: false
    steps:
      - uses: actions/checkout@v4
      - uses: moonrepo/setup-rust@v1
        with:
          components: clippy
      - name: Run linter
        run: cargo clippy --workspace --all-targets
  test:
    name: Test
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
      fail-fast: false
    steps:
      - uses: actions/checkout@v4
      - uses: moonrepo/setup-rust@v1
      - name: Run tests
        run: cargo test --workspace
  wasm:
    name: WASM
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
      fail-fast: false
    steps:
      - uses: actions/checkout@v4
      - uses: moonrepo/setup-rust@v1
        with:
          # Requires wasi_ext unstable
          channel: nightly-2025-08-07
          targets: wasm32-wasip1
      - name: Build WASI
        run:
          cargo +nightly-2025-08-07 build --target wasm32-wasip1 -p starbase_archive -p
          starbase_events -p starbase -p starbase_macros -p starbase_styles -p starbase_utils
